{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  {% block metatags %}{% endblock %}
  <meta charset="utf-8">

<!--   <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"> -->

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">BMSupply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-user"></i> Categorias <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

{% block content %}
{% endblock %}

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js'%}"></script>

{% block extra_tags %}
{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small navbar-dark bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> </div>
      <div class="col-md-12">
        <div class="col-md--5 flex-center">
          Aqui ira algo bonito
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3" style="color: #fff">© 2018 Copyright BMSupply:
  </div>
</footer>

</body>
</html>

