{% extends "base.html" %}{% load static from staticfiles %}  {% load i18n widget_tweaks %}

{% block metatags %}
    <title>Envio y Facturacion - {{request.user}}</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
	  <div class="page-header">
	    <h1 class="pull-left">
	      <i class="fa fa-money-bill-wave"></i>
	      <span>Factura</span>
	      <span class="text-muted">#{{factura.id}}</span>
	      <div class="float-right">
	      <div class="btn-group">
	        <a class="btn btn-info" href="#"><i class="fa fa-print"></i>
	        Print
	        </a>
	      </div>
	    </div>
	    </h1>
	  </div>
	</div>
</div>
<div class="row invoice">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-content box-double-padding">
          <div class="row">
            <div class="invoice-header">
            	<p></p>
            </div>
          </div>
          <div class="row border-top">
            <div class="col-sm-6 info">
           	  <p></p>
              Factura Generada el dia:
              <strong>{{factura.created}}</strong>
              <br>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="responsive-table">
                <div class="scrollable-area">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>SKU</th>
                        <th>Producto</th>
                        <th>
                          <div class="text-center">Cantidad</div>
                        </th>
                        <th>
                          <div class="text-right">Precio</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for producto in factura.productos.all %}
                      <tr>
                        <td>{{producto.producto.product.sku}}</td>
                        <td>{{producto.producto.product.shortname}}</td>
                        <td>
                          <div class="text-center">{{producto.cantidad_producto}}</div>
                        </td>
                        <td>
                          <div class="text-right">${{producto.producto.price}}</div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr-normal">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-right text-contrast subtotal">
                <h1 class="text-danger">${{factura.total}}</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="well comment">
                Gracias por comprar en BMSupply
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}